<ion-view>

<ion-nav-bar class="navbar" align-title="center">
	<ion-nav-buttons side="left">
		<button class="button-clear" ng-click="toggleLeft()">
			<i class="ion-navicon-round icon-header naviconheader"></i>
  		</button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button class="button-clear" ng-click="toHome()">
			<i class="ion-ios-home icon-header naviconheader"></i>
		</button>
	</ion-nav-buttons>
	<ion-nav-title class="navtitle">About</ion-nav-title>
</ion-nav-bar>

<ion-content>

<div class="padding titleabout">Welcome to MAGYS</div>

<div class="padding teksabout">

	This application consist of two main menus:<br />
	<ul>
    	<li class="ion-ios-circle-filled"> Find Rent Room </li>
    	<li class="ion-ios-circle-filled"> Choose Query Rent Room </li>
    </ul>
    <br/>
	 <font style="font-style:italic"> Find Rent Room </font> can help you to find information and location of rent room in South Jakarta. You can find a rent room based on 3 parameters:<br /><br/>
     	<ul>
        	<li class="icon ion-ios-pricetags-outline"> Price.</li>
            <li class="ion-ios-speedometer-outline"> Distance from Universitas Bakrie.</li>
            <li class="ion-ios-settings"> Facilities such as Wi-Fi, Kitchen, and AC. </li>
        </ul>
      <br/>
     <font style="font-style:italic"> Choose Query Rent Room</font> can help you to get additional information that shows analysis result from all rent rooms information in South Jakarta. <br /><br />  
</div>

</ion-content>

</ion-view>