<ion-view>

<ion-nav-bar class="navbar" align-title="center">
	<ion-nav-buttons side="left">
		<button class="button-clear" ng-click="toggleLeft()">
			<i class="ion-navicon-round icon-header naviconheader"></i>
  		</button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button class="button-clear" ng-click="toHome()">
			<i class="ion-ios-home icon-header naviconheader"></i>
		</button>
	</ion-nav-buttons>
	<ion-nav-title class="navtitle">Help</ion-nav-title>
</ion-nav-bar>

<ion-content>

<div class="padding titleabout">To use this application...</div>

<div class="padding teksabout">
	You can choose <font style="font-style:italic"><b>"Find Rent Room tab"</b></font> 
	or <font style="font-style:italic"><b>"Choose Query Rent Room tab"</b></font> in the bottom of this screen.<br /><br/>
	<ul>
    	<li> If you choose <b>"Find Rent Room tab"</b> :</li><br>

    		<ul>
    			<li class="ion-ios-checkmark-outline"> Click <font style="font-style:italic"> filter button. </font></li>
    			<li class="ion-ios-checkmark-outline"> Choose parameter by click <font style="font-style:italic">the parameters.</font></li>
    			<li class="ion-ios-checkmark-outline"> Click <font style="font-style:italic"> search button. </font></li>
    	    	<li class="ion-ios-checkmark-outline"> And voilla! Your room rent will be appear in map if it's available.<br/><br/></li>
    		</ul>

    	<li> If you choose <b>"Choose Query Rent Room tab"</b> :</li><br/>

    		<ul>
        		<li class="ion-ios-checkmark-outline"> Choose  and Click<font style="font-style:italic"> a query. </font></li>
        		<li class="ion-ios-checkmark-outline"> And voilla! The result of map based on query that you choose will be appear.</li>
        	</ul>
    </ul> 

    <br/>
    <ul>
        <li class="ion-alert-circled"> Caution :</li>
        <li> If application can't operate or getting stuck suddenly, you can exit from this apllication by back to your home of your device</li>
    </ul>
</div>

</ion-content>


</ion-view>